<div class="tabela-container">
  <table>
    <thead>
      <tr>
        @for (col of columns(); track $index) {
          <th>{{ col | titlecase }}</th>
        }
      </tr>
    </thead>
    <tbody>
      @for (item of data(); track $index) {
        <tr>
          @for (col of columns(); track $index) {
            <td>
              {{ item[col] }}
            </td>
          }
        </tr>
      } @empty {
        <tr>
          <td [attr.colspan]="columns().length">No data found.</td>
        </tr>
      }
    </tbody>
  </table>
</div>